{% extends "app/base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
  <div class="">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-4 col-sm-4 col-xs-12 tile_stats_count">
        <span class="count_top"><i class="fa fa-envelope"></i> Emails Received</span>
        <div class="count">23</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>15% </i> From yesterday</span>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 tile_stats_count">
        <span class="count_top"><i class="fa fa-envelope"></i> Emails Answered (&#60;6 hours)</span>
        <div class="count">12</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>24% </i> From yesterday</span>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 tile_stats_count">
        <span class="count_top"><i class="fa fa-envelope"></i> Remaining Enquiries</span>
        <div class="count">11</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-desc"></i>34% </i> From yesterday</span>
      </div>
    </div>
    <!-- /top tiles -->

    <br />

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Emails Received <small>30 days moving average</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="demo-container" style="height:280px">
                <div id="chart_plot_02" class="demo-placeholder"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div id="echart_line2" style="height:350px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    

  </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- ECharts -->
  <script src="/static/vendors/echarts/dist/echarts.min.js"></script>
  <script src="/static/vendors/echarts/map/js/world.js"></script>
  
{% endblock javascripts %}
